# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Atividade7/EJBModule1/nbproject/private/
/Atividade7/EnterpriseApplication1/nbproject/private/
/Atividade7/EntAppEJB/nbproject/private/
/Atividade7/EntAppEJB2/nbproject/private/
/Atividade7/EJBModule/nbproject/private/
/Atividade7/EntAppEJB/target/
/Atividade7/EntAppEJB/EntAppEJB-ejb/nbproject/private/
/Atividade7/EJBRemoteInterface/nbproject/private/
/Atividade7/EntAppClient/nbproject/private/
/Atividade7/EntAppClient/build/
/Atividade7/EJBRemoteInterface/build/
/Atividade7/EJBRemoteInterface/dist/
/Atividade7/EntAppEJB/EntAppEJB-ejb/build/
/Atividade7/EntAppEJB/build/
/Atividade8 - Copia/CalculadoraRemoteInterface/build/
/Atividade8 - Copia/CalculadoraRemoteInterface/nbproject/private/
/Atividade8 - Copia/ClientCalculadora/build/
/Atividade8 - Copia/ClientCalculadora/nbproject/private/
/Atividade8 - Copia/EnAppCalculadora/EnAppCalculadora-ejb/build/
/Atividade8 - Copia/EnAppCalculadora/EnAppCalculadora-ejb/nbproject/private/
/Atividade8 - Copia/EnAppCalculadora/build/
/Atividade8 - Copia/EnAppCalculadora/dist/
/Atividade8 - Copia/EnAppCalculadora/nbproject/private/
/Atividade9/CalculadoraRemoteInterface/build/
/Atividade9/CalculadoraRemoteInterface/nbproject/private/
/Atividade9/ClientCalculadora/build/
/Atividade9/ClientCalculadora/nbproject/private/
/Atividade9/EnAppCalculadora/EnAppCalculadora-ejb/build/
/Atividade9/EnAppCalculadora/EnAppCalculadora-ejb/nbproject/private/
/Atividade9/EnAppCalculadora/build/
/Atividade9/EnAppCalculadora/dist/
/Atividade9/EnAppCalculadora/nbproject/private/
/Atividade9/ClientCalculadora/dist/
/Atividade9/CalculadoraRemoteInterface/dist/
/Atividade9/ShowCalculadoraRemoteInterface/nbproject/private/
/Atividade9/ShowCalculadoraEntApp/nbproject/private/
/Atividade9/ShowCalculadoraEntApp/ShowCalculadoraEntApp-ejb/nbproject/private/
/Atividade9/ShowCalculadoraRemoteInterface/build/
/Atividade9/ShowCalculadoraRemoteInterface/dist/
/Atividade9/EnAppCalculadora/EnAppCalculadora-ejb/dist/
/Atividade9/ShowCalculadoraEntApp/ShowCalculadoraEntApp-ejb/build/
/Atividade9/ShowCalculadoraEntApp/build/
/Atividade9/ShowCalculadoraEntApp/ShowCalculadoraEntApp-ejb/dist/
/Atividade9/ShowCalculadoraEntApp/dist/
/Atividade9/MostraCalc/nbproject/private/
/Atividade9/MostraCalcEntApp/nbproject/private/
/Atividade9/MostraCalcEntApp/MostraCalcEntApp-ejb/nbproject/private/
/Atividade9/MostraCalc/build/
/Atividade9/MostraCalc/dist/
/Atividade9/MostraCalcEntApp/MostraCalcEntApp-ejb/build/
/Atividade9/MostraCalcEntApp/build/
/Atividade9/MostraCalcEntApp/MostraCalcEntApp-ejb/dist/
/Atividade9/MostraCalcEntApp/dist/
/Atividade10/CalculadoraRMIRemoteInterface/nbproject/private/
/Atividade10/ServerRMI/nbproject/private/
/Atividade10/ClientRMI/nbproject/private/
/Atividade10/CalculadoraRMIRemoteInterface/build/
/Atividade11/CalculatorWSApplication/nbproject/private/
/Atividade11/CalculatorWSApplication/build/
/Atividade12/WebServiceDaAlegria/nbproject/private/
/Atividade12/WebServiceDaAlegria/build/
/Atividade12/ClientApp/nbproject/private/
/TP-Final/ServerApp/nbproject/private/
/TP-Final/ClientApp/nbproject/private/
/TP-Final/ServerApp/build/
/TP-Final/ClientApp/build/
